.admin-page {
  text-align: center;
  padding-bottom: 20px;
  font-family: "Philosopher", serif;
  font-weight: 400;
  font-style: normal;
}

.admin-page h1 {
  font-size: 35px;
}

.admin-page h2 {
  font-size: 25px;
  border-top: var(--gold-color) 3px solid;
  border-bottom: var(--gold-color) 3px double;
  padding: 5px;
}

.admin-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 30px;
  gap: 20px;
}

.admin-card {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
  border: var(--gold-color) solid 1px;
}

.admin-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.admin-card:hover img {
  transform: scale(1.1);
}

.hover-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.admin-card:hover .hover-overlay {
  opacity: 1;
}

.delete-icon {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

#addshoe {
  margin: 8px 10px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: var(--gold-color);
  width: 108%;
  font-family: "Philosopher", serif;
  font-weight: 400;
  font-style: normal;
}

#addshoe:hover{
  background-color: var(--lightgold-color);
}

#addshoe:disabled {
  background-color: var(--darkgold-color);
}

.admin-page input {
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  width: 100%;
}

.admin-page select {
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  width: 108%;
  line-height: 30px;
}

.admin-page form {
  padding-bottom: 20px;
  display: flex;
  width: 50%;
  max-width: 150px;
  flex-direction: column;
  align-items: center;
}

.preview {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 0 20px;
}

.preview .shoe-card {
  width: 50%;
  max-width: 250px;
}

.preview .shoe-info{
  min-height: 70px;
}
