@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Patrick+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --gold-color: #b89000;
  --lightgold-color: #ffcc00;
  --darkgold-color: #5e4a02a8;
}

#root {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0.274)),
    url(../assets/images/background.png);
  background-size: cover;
  background-color: #00020e;
  background-attachment: fixed;
  color: var(--gold-color);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  font-family: "Philosopher", serif;
  font-weight: 400;
  font-style: normal;
  justify-content: center;
}

.shoe-gallery {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.shoe-card {
  width: 250px;
  margin: 10px;
  border: 1px solid var(--gold-color);
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  background-color: #0000008e;
  overflow: hidden;
}

.shoe-card img {
  align-items: center;
  aspect-ratio: 1/1;
  background-color: rgb(0, 0, 0);
  color: var(--gold-color);
  display: flex;
  justify-content: center;
  font-size: 20px;
  min-height: 150px;
  min-width: 150px;
  object-fit: contain;
  width: 100%;
}

.shoe-card h3 {
  font-size: 29px;
  margin: 0;
  padding: 0 1px;
  word-wrap: break-word;
  line-height: 35px;
}

.shoe-card p {
  font-size: 20px;
  margin: 0;
  padding: 4px 2px;
  word-wrap: break-word;
  line-height: 20px;
  color: #ffffff;
}

.shoe-card:hover {
  transform: scale(1.05);
  color: var(--lightgold-color);
  border: 1px solid var(--lightgold-color);
}

.shoe-info {
  padding: 0;
  padding-bottom: 3px;
  min-height: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.logo-container {
  text-align: center;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-container h1 {
  margin: 10px 0;
  margin-bottom: 0;
  font-size: 30px;
  color: var(--gold-color);
}

.logo {
  width: 130px;
  height: auto;
  filter: saturate(150%);
  color: var(--gold-color);
}

.logo-home {
  width: 130px;
  height: 93px;
  filter: saturate(150%);
  color: var(--gold-color);
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

.logo-gender {
  position: relative;
  width: 100px;
  margin-left: 10px;
  margin-top: 5px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.top-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top-page .search-bar {
  height: 30px;
  width: 100%;
  margin-bottom: 10px;
}

.top-page .search-input {
  width: calc(40% + 52px);
}

.top-page .logo-container {
  margin-bottom: 0;
}
