.category-page {
  text-align: center;
  padding-top: 20px;
}

.category-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  padding: 20px;
}